html {
  font-size: 1em;
  overflow: auto;
}

body {
  margin: 0;
  padding: 20px;
  font-size: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #efefef;
}

a.button {
  float: left;
  text-decoration: none;
  font-weight: bold;
  background-color: #165489;
  border: 1px solid #165489;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.logo {
  width: 50px;
  height: auto;
}

.logo-link {
  position: relative;
}
